@media(max-width:1250px){
    .wrap{
        width: 90%;
        margin: 0% auto;
    }

    #banner h1{
        font-size: 35px;
        text-align: center;
        margin: 33px auto;
        width: 100%;
    }

    .card{
        margin:7px;
        width:18%;
    }

    .card p{
        display: block;
        margin: 0 auto;
        text-align: center;
    }

    #article{
        width: 65%;
    }

    #article article{
        width:97%;
    }

    #footer .wrap >div{
        width: 24%;
    }

    #footer #browser img{
        width: 14%;
    }

    #footer h5{
        font-size: 30px;
    }
}

@media(max-width:1080px){
    .card .category{
        font-size: 18px;
    }

    .card .description{
        font-size: 16px;
    }

    #article{
        width:62%;
    }

    #article article h4 {
        font-size: 22px;
    }
}

@media (max-width:980px){

    #article article h4 {
        font-size: 21px;
    }

    #footer h5 {
        font-size: 24px;
    }

    #article{
        width:62%;
    }
}


@media(max-width:990px){
    #article article h4{
        font-size: 20px;
    }

    #aside h3{
        font-size: 25px;
    }

    #article h2{
        font-size: 35px;
    }
}
@media (max-width:975px){
    
    #article{
        width:58%;
    }

    #lateral{
        width: 25%;
    }

    .aside-box{
        width: 95%;
        height: auto;
        min-height: 140px;
    }

    #footer .wrap > div{
        width: 26%;
        margin: 20px;
    }

    @media (max-width:800px){
        .card {
            width: 17%;
            margin: 9.3px;
        }

        #menu li {
            font-size: 22px;
        }

        #article {
            width: 53%;
        }

        #aside {
            width: 285px;
        }
        .card .description {
            display: none;
        }

        .card{
            height: 200px;
        }

        #article article h4 {
            font-size: 18px;
        }

        #article .data {
            float: none;
        }
    }
    @media (max-width:900px){
        .card {
            width: 17%;
            margin: 9.3px;
        }
 
        #menu li {
            font-size: 22px;
        }

        #article {
            width: 53%;
        }

        #aside {
            width: 285px;
        }
        .card .description {
            display: none;
        }

        .card{
            height: 200px;
        }

        #article article h4 {
            font-size: 18px;
        }

        #article .data {
            float: none;
        }
        #footer img {
            width: 100%;
        }
    }
}