@media(max-width:1250px){
    .wrap{
        width: 90%;
        margin: 0% auto;
    }

    .card{
        margin:7px;
        width:18%;
    }

    #article{
        width: 65%;
    }

    #article article{
        width:97%;
    }
}