@media(max-width:1250px){
    .wrap{
        width: 90%;
        margin: 0% auto;
    }

    #banner h1{
        font-size: 35px;
        text-align: center;
        margin: 33px auto;
    }

    .card{
        margin:7px;
        width:18%;
    }

    .card p{
        display: block;
        margin: 0 auto;
        text-align: center;
        width: 80%;
        height: 90%;
    }

    #article{
        width: 65%;
    }

    #article article{
        width:97%;
    }

    #footer .wrap >div{
        width: 24%;
    }

    #footer #browser img{
        width: 14%;
    }

    #footer h5{
        font-size: 30px;
    }
}