*{
    margin: 0px;
    padding: 0px;
}


.clear{
    float: none;
    clear: both;
}

#container{
    margin: 0px auto;
    width: 75%;
    background-color: gray;
    font-family: Helvetica,Arial, sans-serif;
}

header{
    background-color: lightblue;
    width: 100%;
    line-height: 150px;
    text-align: center;
}

aside{
    width: 25%;
    float: left;
    background: #ccc;
    min-height: 100px;
    text-align: center;
    line-height: 800px;
}

#articles{
    background-color: salmon;
    width: 75%;
    min-height: 200px;
    float: left;
}

.articulo{
    width: 25%;
    height: 150px;
    background-color: seagreen;
    color: white;
    line-height: 150px;
    text-align: center;
    border: 2px solid white;
    float: left;
    margin: 28px;
}

footer{
    background-color: black;
    color: white;
    height: 50px;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    /* Styles */
    }
    
    /* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
    /* Styles */
    }
    
    /* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
    /* Styles */
    }
    
    /* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    /* Styles */
    }
    
    /* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
    /* Styles */
    }
    
    /* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    /* Styles */
    }
    /**********
    iPad 3
    **********/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
    /* Styles */
    }
    
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
    /* Styles */
    }
    /* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {
    /* Styles */
    }
    
    /* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
    /* Styles */
    }
    
    /* iPhone 4 ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
    /* Styles */
    }
    
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
    /* Styles */
    }

@media (max-width: 800px){
    .articulo{
        width: 60%;
        background-color: red;
    }
}

@media (max-width: 632px){
    .articulo{
        width: 80%;
        background-color: blue;
    }
}